extends layout 

block content
    .bg-white
        .container.px-6.py-4.mx-auto(class="lg:flex.lg:h-64.lg:py-16")
            .flex.items-center.justify-center.mt-20(class="w-full")
                .max-w-lg.m-20
                    h1.text-5xl.font-extrabold.tracking-wide.text-white.text-gray-800(class="lg:text-3xl.lg:text-4xl") Post
                    form(action="/post" method="POST").content-center
                        .input-group.input-group-outline.mb-6
                            textarea.form-control.w-full.my-4.rounded.outline(type="text" rows=5 name="body")
                            input(type="number" name="price").w-full.my-4.outline.rounded
                            input(type="submit" value="Post" class="hover:bg-yellow-400").bg-yellow-500.p-4.w-full.rounded.font-bold