extends layout

block content
    section.container.hero.has-text-centered.is-fullheight
        div.hero-body.is-centered
            div 
                h1.title.is-size-1.fa-solid.fa-honey-pot(style="color: #E1AD01;")
                p.title.is-size-1 <strong>Winnie</strong>: your <strong>local</strong> servant
                p.subtitle.is-size-3 Easy smart contracting. Task manager deluxe.
                .buttons.columns 
                    .column.is-half
                        a(href="/register"): .button.is-warning.is-fullwidth Get started
                    .column.is-half
                        a(href="#"): .button.is-light.is-fullwidth More info