extends layout 

block content 
    section#hero
        .container.flex.flex-col-reverse.items-center.px-6.mx-auto.mt-10.space-y-0(class="md:flex-row")
            div.flex.flex-col.mb-32.space-y-12(class="md:w-1/2")
                h1.max-w-md.text-4xl.font-bold.text-center.md(class="text-5xl md:text-left") Meet Sting
                p.max-w-sm.text-center.text-dark(class="md:text-left") Reverse auction market
            div(class="hidden lg:mt-0 lg:col-span-5 lg:flex")
                img(src="img/logo.png")