html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.1.1/css/hover-min.css")
    link(rel="stylesheet" href="https://cdn.staticaly.com/gh/hung1001/font-awesome-pro-v6/44659d9/css/all.min.css")
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="")
    link(rel="stylesheet" href="../css/style.css")
    title Winnie
    script(src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="")
    script(src="../js/dropdown.js")
  body
    include nav.pug
    block content
    footer.footer.has-text-centered
      div.content
        strong
          a(href="https://github.com/trmml/winnie") Winnie &copy; 2022
          p Made with &hearts; in Vancouver, BC
    script(src="../js/leaf.js")