html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="https://cdn.staticaly.com/gh/hung1001/font-awesome-pro-v6/44659d9/css/all.min.css")
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="")
    link(rel="stylesheet" href="../css/style.css")
    title Sting
    script(src="https://cdn.tailwindcss.com")
    script(src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="")
    script(src="../js/dropdown.js")
  body
    include nav.pug
    block content
    footer.bg-yellow-500.text-center(class="lg:text-left")
      div.text-black.text-center.p-8
        strong
          a(href="https://github.com/trmml/sting") Sting &copy; 2022
          p Made with &hearts; in Vancouver, BC
    script(src="../js/leaf.js")