nav.relative.container.mx-auto.bg-yellow-500.p-6.rounded
    div.flex.items-center.justify-between
        div.pt-2
            a(href="#" class="hover:text-white")
                i(class="fa-solid fa-bee")
        div.flex.hidden.space-x-6(class="md:flex")
            a(href="#" class="hover:text-white") About
            a(href="#" class="hover:text-white") Docs
        div.flex.hidden.space-x-6(class="md:flex")
            a.hidden(href="#" class="md:block p-3 px-6 pt-2 text-black bg-yellow-600 rounded") Login
            a.hidden(href="#" class="md:block p-3 px-6 pt-2 text-black bg-yellow-600 rounded") Register